
.cardGrid{
   display: grid;
   background-color: #3F51B5;
   color: #FFFFFF;
   margin-top: 10px;
   padding: 10px;
   
   grid-template-columns: 50px 1fr;
   grid-row-gap: 10px;
}

.title{
    color : #3F51B5; 
    font-size: 30px;
    margin-bottom: 20px;
}

.label{
    font-weight: bold;
}
.flex{
    display: inline-flex;

}