<div *ngIf="loaded">
  <div class="titre">Modifier une Activitée</div>
  <div class="wrapper">
    <form   [formGroup]="formMembre">
            <mat-form-field>
              <input matInput placeholder="Nom" formControlName="nom" required/>
            </mat-form-field>
                <mat-form-field >
                  <mat-select placeholder="Choisisez un type" formControlName="select"  [(ngModel)]="selectState" required>
                    <mat-option>{{''}} </mat-option>
                    <mat-option *ngFor="let type of types" [value]="type['@id']">
                      {{ type?.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
  <div style="margin-top:10px;">
      <button mat-raised-button color="primary"  (click)="update()" [disabled]="!formMembre.valid">Sauvegarder</button>
      <button mat-raised-button color="primary"  (click)="closeDialog()" >Annuler</button>
    </div> 
</div>
