
<h1>edit membre</h1>
<form (submit)="edit()">

  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" value="user.nom" [(ngModel)]="nom" id="nom" name="nom">
  </div>


  <div class="form-group">
    <label for="nom">Prenom</label>
    <input type="text" class="form-control" [(ngModel)]="prenom" id="prenom" name="prenom">
  </div>

  <div class="form-group">
    <label for="email">email</label>
    <input type="text" class="form-control" [(ngModel)]="email" id="email" name="email">
  </div>

  <div class="form-group">
    <label for="email">Téléphone</label>
    <input type="text" class="form-control" [(ngModel)]="phone" id="phone" name="phone">
  </div>

  <div class="form-group">
    <label for="nom">Cotisation</label>
    <input type="text" class="form-control" [(ngModel)]="cotisation" id="cotisation" name="cotisation">
  </div>

  <div class="form-group">
    <input type="checkbox" [(ngModel)]="cheque" name="cheque"/>
    <label for="cheque">Cheque</label>
  </div>


  <div class="form-group">
    <input type="checkbox" [(ngModel)]="certificat" name="certificat"/>
    <label for="cheque">Certificat</label>
  </div>

  <div class="form-group" >
      <span *ngFor="let item of activites">
         <input type="checkbox"
                (change)="toggle(item)"/>
      <label >{{ item.name }}</label>
      </span>

  </div>


  <button type="submit" class="btn btn-primary">Submit</button>

</form>
