<mat-grid-list cols="3" rowHeight="58px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <h1>Edit membre</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="6">
      <form [formGroup]="formMembre">
        <table>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Nom" formControlName="nom" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="Prenom" formControlName="prenom" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Téléphone" formControlName="phone" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="cotisation" formControlName="cotisation" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
           <td> <mat-checkbox formControlName="certificat" >Certificat</mat-checkbox></td>
           <td> <mat-checkbox formControlName="cheque">Chèque</mat-checkbox></td>
           <td> <mat-checkbox formControlName="enabled">Activier</mat-checkbox></td>
          </tr>
        </table>     
      </form>
    </mat-grid-tile>
    <mat-grid-tile class="blueRow" [colspan]="3" [rowspan]="1">
      <button mat-raised-button color="primary" (click)="edit()">sauvegarder</button>
      <button mat-raised-button color="primary">retour</button>
    </mat-grid-tile>
  </mat-grid-list>