<div class="title">
  Editer un membre
</div>
<form [formGroup]="formMembre">
  <div class="row">

    <mat-form-field>
      <input matInput placeholder="Nom" formControlName="nom" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Prenom" formControlName="prenom" />
    </mat-form-field>
  </div>
  <div class="row">

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
    
    <mat-form-field>
      <mat-select placeholder="activites" formControlName="activites"  multiple>
        <mat-option *ngFor="let activite of activitestab" [value]="activite['@id']">{{activite.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">

    <mat-form-field>
      <input matInput placeholder="Téléphone" formControlName="phone" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="cotisation" formControlName="cotisation" />
      <span matSuffix>€</span>
    </mat-form-field>

  </div>

  <div class="row3">
    <mat-checkbox formControlName="certificat">Certificat</mat-checkbox>
    <mat-checkbox formControlName="cheque">Chèque</mat-checkbox>
    <mat-checkbox formControlName="enabled">Compte activé</mat-checkbox>
  </div>

</form>
<div style="margin-top: 20px;">
  <button mat-raised-button color="primary" (click)="updateMember()" [disabled]="!formMembre.valid">sauvegarder</button>
  <button mat-raised-button color="primary" (click)="closeDialog()">annuler</button>
</div>