
.title{
    color : #3F51B5; 
    font-size: 30px;
    margin-bottom: 20px;
  }
  
 
.row {
    display: grid;
    grid-template-columns : 1fr 1fr;
    grid-gap: 10px;
  }
   
  .adress{
    display: grid;
    width: 100%;
    grid-template-columns : 0.2fr 1fr 1fr;
    grid-gap: 10px;
  }