.dashbord-card{
    display: inline-flex;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 250px;
}
.icon-square-pink{
    background-color: #AB47BC ;
    color: #CE93D8;
    border-radius: 5px 0px 0px 5px;
}
.icon-square-green{
    background-color: #26A69A ;
    color: #80CBC4;
    border-radius: 5px 0px 0px 5px;
}
.dashbord-card-content{
    padding-top: 5px;
    padding-left: 10px;
    padding-right:10px;
}
.home-container{
    padding: 20px
}
.chart-card{
    
    padding: 20px;
    margin-top: 20px;
}
.charts{
   
}
