.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sideNave{
    padding-top: 60px;
    width: 17%;
    min-width: 210px;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 4;
}

.main-container{
    padding-top: 60px; 
}
