<div>
  <h1>Ajout membre</h1>
</div>
<form [formGroup]="formMembre">
  <div class="wrapper">
  
        <mat-form-field>
          <input matInput placeholder="Nom" formControlName="nom" />
        </mat-form-field>
     
        <mat-form-field>
          <input matInput placeholder="Prenom" formControlName="prenom" />
        </mat-form-field>
     
    </div> 
   
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Téléphone" formControlName="phone" />
        </mat-form-field>
     
        <mat-form-field>
          <input matInput placeholder="cotisation" formControlName="cotisation" />
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="activites" formControlName="activites" multiple>
            <mat-option *ngFor="let activite of activitestab" [value]="activite.id">{{activite.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-checkbox formControlName="certificat">Certificat</mat-checkbox>
     
        <mat-checkbox formControlName="cheque">Chèque</mat-checkbox>
      
 
</form>
<div style="margin-top:10px;">
  <ng-container *ngIf="formMembre.valid; else notValide">
    <button mat-raised-button color="primary" (click)="add()">sauvegarder</button>
  </ng-container>
  <ng-template #notValide>
    <button mat-raised-button color="primary" disabled>sauvegarder</button>
  </ng-template>
  <button mat-raised-button color="primary" (click)="closeDialog()">retour</button>
</div>