<div class="membre-content">
  <div class="titre">
    Listes des membres
  </div>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-left:10px;" (click)='openDialogAdd()'>Ajouter un membre
    </button>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nom}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.prenom}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cotisation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cotisation </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cotisation}}€ </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cheque">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Chèque </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.cheque;else notChecked">
            <mat-checkbox [checked]="true" [disabled]="true"></mat-checkbox>
          </ng-container>
        </mat-cell>

      </ng-container>

      <ng-container matColumnDef="certificat">
        <mat-header-cell *matHeaderCellDef mat-sort-header> certificat </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.certificat;else notChecked">
            <mat-checkbox [checked]="true" [disabled]="true"></mat-checkbox>
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row" style="overflow:hidden;">
          <button mat-icon-button color="primary" (click)="openDialogEdit(row.id)">
            <mat-icon >edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="deleteMembre(row.id)">
            <mat-icon >delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

  </div>
</div>

<ng-template #notChecked>
  <mat-checkbox [disabled]="true"></mat-checkbox>
</ng-template>