<div class="taskContainer" [ngClass]="{hoover: isHoover}" (mouseleave)="isHoover = false" (mouseenter)="isHoover = true">
  <div class="firstGrid">
  <span *ngIf="!editing, else edit" (click)="editing = true" class="title">{{ task.title}}</span>
  <ng-template #edit>
  <form>
    <mat-form-field>
      <input [autofocus] matInput type="text" [ngClass]="{hoover: isHoover}" [(ngModel)]="task.title" [ngModelOptions]="{standalone: true}" (blur)="saveChanges()" (keyup.enter)=" saveChanges()"
      />
    </mat-form-field>
  </form>
</ng-template>
  <button [ngClass]="{none: !isHoover}" mat-icon-button   (click)="openDialogEdit()">
    <mat-icon color="primary">edit</mat-icon>
  </button>
  <button [ngClass]="{none: !isHoover}" mat-icon-button (click)="deleteTask()">
    <mat-icon color="primary">delete</mat-icon>
  </button>
</div>  
<mat-chip-list>
  <mat-chip *ngFor="let tag of task.tags;"
   [style.background-color]="tag.color" class="myChips" >
  {{tag.name}}
</mat-chip>
</mat-chip-list>
<mat-divider  [inset]="true" *ngIf="task.user"></mat-divider>
<div *ngIf="task.user">
 <div class="taskOftext"> Tâche attribuée à : {{task.user.username}}</div>
</div>
</div>