.taskContainer{
    display: grid;
    grid-template-columns: 2fr repeat(2,0.3fr) ;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    border: 1px solid #CFD8DC;
    margin-bottom: 10px;
}
.hoover{
    background-color: #CFD8DC;
    cursor: pointer;
}
.none{
    visibility: hidden;
}
.title{
   margin: auto;
   margin-left: 10px
}
