<agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
  <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false">
    <agm-info-window>
      <strong> {{formAdress.value.numberRue}}  {{formAdress.value.rue}}  à {{formEvent.value.city}}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
<mat-divider></mat-divider>
<form [formGroup]="formAdress" class="myform" (change)="changeLocation()">
  <div class="rowAdress">

    <mat-form-field>
    <input matInput placeholder="N°" formControlName="numberRue" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="adresse" formControlName="rue" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="ville" formControlName="city" />
    </mat-form-field>

  </div>
</form>

<form [formGroup]="formEvent" class="myform">
  <div class="row">

    <mat-form-field>
      <input matInput placeholder="Nom" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="description" formControlName="description" />
    </mat-form-field>

  </div>

  <div class="rowtime">
    <mat-form-field>
      <input matInput [matDatepicker]="pickerstart" [min]="minStartDate" placeholder="Le " formControlName="start">
      <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
      <mat-datepicker #pickerstart></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="time" placeholder="A partire de " formControlName="startHour" (blur)="datesAreValid()"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="time" placeholder="Jusqu'à" formControlName="endHour" (blur)="datesAreValid()" />
    </mat-form-field>
  </div>
</form>
<div class="butttonRow">
  <ng-container *ngIf="formEvent.valid; else notValide">
    <button mat-raised-button color="primary" (click)="edit()">sauvegarder</button>
  </ng-container>
  <ng-template #notValide>
    <button mat-raised-button color="primary" disabled>sauvegarder</button>
  </ng-template>
  <button mat-raised-button color="primary" (click)="closeDialog()">annuler</button>
 
    <mat-icon *ngIf="dateInvalide" class="icon" color="warn" >warning</mat-icon>
    <div class="error" *ngIf="dateInvalide">
       Attention : l'heure de fin est antérieur à l'heure de début
    </div>
</div>