<ng-container *ngIf="membres">
    
        <div class="panel-heading">
            <h3 class="panel-title">Organisation – Listes des membres</h3>
        </div>

        <div class="membre-content">
            <form>
                <div class="form-group">
                    <label for="prenom">Trier par prénom</label>
                    <input type="text" name="prenom" id="prenom" class="form-control" [(ngModel)]="prenom" (keyup)="search()" placeholder="exemple: alison">
                    <br/>
                </div>
            </form>
            <br/>

            <div class="panel panel-primary" *ngIf="res">
                <div class="panel-heading">
                    <h3 class="panel-title">Résultat de recherche</h3>
                </div>
                <div class="panel-body" *ngFor="let user of res">
                    {{ user.prenom }} - {{ user.nom }} - {{ user.email }} - {{ user.phone}} - {{ user.cotisation}}€
                </div>
            </div>

            <span class="pull-right big">Ajouter un membre
                <a href="/home/add-membre" class="big">+</a>
            </span>
            <button mat-raised-button color="primary" (click)='openDialogAdd()'>+</button>
            <br/>
            <br/>
            <mat-card  class="row" style="border-bottom: solide 2px #303F9F">
                    <div  class="cellName titre">Nom</div>
                    <div  class="cellName titre">Prénom</div>
                    <div  class="cellMail titre">Email</div>
                    <div  class="cellPhone titre">Téléphone</div>   
                    <div  class="cell titre">Cotisation</div>
                    <div  class="cell titre">Cheque</div>
                    <div  class="cell titre">certificat</div>
                    <div  class="cell titre" *ngFor="let activite of activities">{{ activite.name }}</div>
            </mat-card>
            <mat-card *ngFor="let membre of membres" class="row" (click)="openDialogEdit(membre.id)">

                <div class="cellName">{{ membre.nom }}</div>
                <div  class="cellName">{{ membre.prenom }} </div>
                <div  class="cellMail">{{ membre.email }} </div>
                <div  class="cellPhone">{{ membre.phone }} </div>
                <div  class="cell">{{ membre.cotisation }}€ </div>
                <div  class="cell">{{ membre.cheque }} </div>
                <div  class="cell">{{ membre.certificat }} </div>
                <div *ngFor="let activite of activities"  class="cell">
                    {{ hasActivity(activite.id, membre)?'✓':'✗' }}
                </div>
                </mat-card>
        </div>
   
</ng-container>