.event-content{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}
.titre{
    font-size: 40px;
    color : #D81B60;
    margin: 30px 0 40px 0px;
}
.wrapper{
    display: grid;
    grid-template-rows:  1fr;
    grid-gap: 20px;
}
