.title{
    color : #3F51B5; 
    font-size: 30px;
    margin-bottom: 20px;
  }

  .myChips{
    color: white;
    margin-bottom: 10px;
  }
  .chipsGrid{
  
    margin-bottom: 20px;

  }

  .full{
    width: 100%;
  }

  