<div class="calendar-content">
  <div class="titre">
    Calendrier</div>
  <div>
    <mat-card class="blueCard">
      <div class='simpleWhiteCellStart'>
        <button mat-icon-button (click)="previousMonth()">
          <mat-icon>navigate_before</mat-icon>
        </button>
      </div>
      <div class="monthwhite"> {{currentMonthName}} {{today.getFullYear()}} </div>
  
      <div class='simpleWhiteCellEnd'>
        <button mat-icon-button (click)="nextMonth()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </mat-card>
    <div class="dayRow">
      <span>Lundi</span>
      <span>Mardi</span>
      <span>Mercredi</span>
      <span>Jeudi</span>
      <span>Vendredi</span>
      <span>Samedi</span>
      <span>Dimanche</span>
    </div>
    <div class='monthGrid'>
        <ng-container *ngFor='let day of pastMonthDays; let i index'>
        <mat-card  [ngClass]="{'notCurrent': true, 'hilight': pastHoverTab[i]}" [class.mat-elevation-z8]="pastHoverTab[i]" (mouseenter)="onHover(i,'past')" (mouseleave)="onLeaving(i,'past')">{{day}}</mat-card> 
       </ng-container>
       <ng-container *ngFor='let day of currentMonthDays; let i index'>
          <mat-card [ngClass]="{'hilight': currentHoverTab[i]}" [class.mat-elevation-z8]="currentHoverTab[i]" (mouseenter)="onHover(i,'current')" (mouseleave)="onLeaving(i,'current')">{{day}}</mat-card> 
       </ng-container>
       <ng-container  *ngFor='let day of nextMonthDays; let i index'>
          <mat-card   [ngClass]="{'notCurrent': true, 'hilight': nextHoverTab[i]}" [class.mat-elevation-z8]="nextHoverTab[i]" (mouseenter)="onHover(i,'next')" (mouseleave)="onLeaving(i,'next')">{{day}}</mat-card> 
       </ng-container>

    </div>
  </div>