.calendar-content{
    width: 90%;
    margin: auto;
}

.titre{
    font-size: 40px;
    color : #D81B60;
    margin: 30px 0 40px 0px;
    }
  .blueCard{
      background-color:#D81B60;
      padding-top:13px;
      height: 25px;
      display: grid;
      grid-template-columns: 1fr 5fr 1fr
  }
  .dayRow{
    margin-top: 20px;
    height: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr)
}
    .monthGrid{
    margin-top: 20px;
    height: 140px;
    display: grid;
    grid-template-columns: repeat(7, 1fr)
    

    }
.hilight{
    z-index: 300;
}

   
  .simpleWhiteCellStart{
        color: white;
        justify-self: start;
        
  }
  .simpleWhiteCellEnd{
    color: white;
    justify-self: end;
    
}
  .monthwhite{
      color: white;
      font-size: 30px;
      justify-self: center;
     
  }
  .notCurrent{
      min-height: 30px;
     color: rgba(0,0,0,.3);
  }
  .current{ 
      min-height: 30px;
  }
  .chips{
     position: absolute;
     bottom: 5px;
     right: 10px;
  }
  .header{
      position:absolute;
      top:5px;
      left:5px;
  }

