<mat-nav-list>
    <mat-accordion>
        <a mat-list-item routerLink="/home/dashboard">Tableau de bord</a>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Gestion des membres
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/home/listingMembers">Tous les membres</a>
            <app-activities></app-activities>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Gestion des activites
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/home/all-activite">Toutes les activites</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Trésorerie
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/home/financial">Bilan mensuel</a>
        </mat-expansion-panel>
    </mat-accordion>
    <a mat-list-item routerLink="/home/listingEvents">Gestion des évènements</a>
    <a mat-list-item routerLink="/home/listingUsers">Gestion des administrateurs</a>
    <a mat-list-item routerLink="/home/calendar">Calendrier</a>
    <a mat-list-item routerLink="/home/tasks">Tableau des missions</a>
    <a mat-list-item (click)="logout()">Deconnexion</a>

</mat-nav-list>