
.btn-hover:hover{
    background-color: #D81B60;
    color:white;

}

h1{ color: #D81B60;}

.login {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 10%;
    margin-left: 10%;
    margin-left:10%;
    padding: 20px 20px 20px;
    width: 310px;
    height: 250px;
    background: white;
    z-index: 2;
   
}
.form{
        display: flex;
        flex-direction: column;
}
.background-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  
    display: block;
    background-image: url('../../../assets/img/pic2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;;
    overflow: hidden;   
  }

  .button-custom{
      border: solid 1px #D81B60;
      border-radius: 5px;
      margin-top: 15px;

  }

