<div>
  <h1>Ajouter rentrée/sortie</h1>
</div>
<form [formGroup]="formMembre">
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Date" formControlName="date" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="libelle" formControlName="libelle" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <mat-form-field>
        <input matInput placeholder="Rentrée" formControlName="rentree" />
      </mat-form-field>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Sortie" formControlName="sortie" />
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
<div style="margin-top:10px;">
  <button mat-raised-button color="primary" (click)="add()">sauvegarder</button>
  <button mat-raised-button color="primary" (click)="closeDialog()">retour</button>
</div>