<div class="titre">
  Ajouter rentrée/sortie
</div>
<form [formGroup]="form">
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Choose a date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
      <td class="spacer"></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="libelle" formControlName="libelle" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <mat-radio-group formControlName="inOrOut">
        <mat-radio-button value="1">Entrée</mat-radio-button>
        <mat-radio-button style="margin-left:20px;" value="2">Sortie</mat-radio-button>
      </mat-radio-group>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Montant" formControlName="amount" />
          <span matSuffix>€</span>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
<div style="margin-top:10px;">
  <button mat-raised-button color="primary" (click)="add()">sauvegarder</button>
  <button mat-raised-button color="primary" (click)="closeDialog()">retour</button>
</div>