<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Ajout membre</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <form [formGroup]="formMembre">
      <mat-grid-list  cols="3" rowHeight="58px">
        <mat-grid-tile class="blueRow" [colspan]="1" [rowspan]="1">
          <mat-form-field>
            <input matInput placeholder="Nom" formControlName="nom" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="blueRow" [colspan]="1" [rowspan]="1">
          <mat-form-field>
            <input matInput placeholder="Prenom" formControlName="prenom" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="blueRow" [colspan]="1" [rowspan]="1">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="blueRow" [colspan]="1" [rowspan]="1">
          <mat-form-field>
            <input matInput placeholder="Téléphone" formControlName="phone" />
          </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile class="blueRow" [colspan]="1" [rowspan]="1">
          <mat-form-field>
            <input matInput placeholder="cheque" formControlName="cheque" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="blueRow" [colspan]="1" [rowspan]="1">
            <mat-form-field>
              <mat-select placeholder="activites" formControlname="activites" multiple>
                <mat-option *ngFor="let activite of activitestab" [value]="activitestab">{{activite.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile class="blueRow" [colspan]="1" [rowspan]="1">
          <mat-checkbox formControlName="certificat">Certificat</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile class="blueRow" [colspan]="1" [rowspan]="1">
          <mat-checkbox formControlName="cotisation">Cotisation</mat-checkbox>
        </mat-grid-tile>
       
      </mat-grid-list>
    </form>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary">sauvegarder</button>
      <button mat-raised-button color="warn">retour</button>
  </mat-card-actions>
</mat-card>