<div class="activite-content">
  <div class="titre">Ajouter une Activitée</div>
  <div class="wrapper">
    <form [formGroup]="formMembre">
     
            <mat-form-field>
              <input matInput placeholder="Nom" formControlName="nom" required/>
            </mat-form-field>
         
              <mat-form-field>
                  <input matInput placeholder="prix" formControlName="prix" required/>
                  <span matSuffix>€</span>
                </mat-form-field>
                <mat-form-field >
                  <mat-select placeholder="Choisisez un type" formControlName="select"  [(ngModel)]="selectState" required>
                    <mat-option>{{''}} </mat-option>
                    <mat-option *ngFor="let type of types" [value]="type.name">
                      {{ type?.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
              
           
  <div style="margin-top:10px;">
      <button mat-raised-button color="primary"  (click)="add()" [disabled]="!formMembre.valid">sauvegarder</button>
    </div> 
</div>
