<div class="activite-content">
  <div class="titre">Ajouter une Activitée</div>
  <div class="wrapper">
    <form [formGroup]="formMembre">
     
            <mat-form-field>
              <input matInput placeholder="Nom" formControlName="nom" required/>
            </mat-form-field>
         
              <mat-form-field>
                  <input matInput placeholder="prix" formControlName="prix" required/>
                  <span matSuffix>€</span>
                </mat-form-field>
              </form>
              <form  #select="ngForm" novalidate>
              <mat-form-field >
                  <mat-select placeholder="Choisisez un type" name="select" [(ngModel)]="selectState" required>
                    <mat-option></mat-option>
                    <mat-option *ngFor="let type of types" [value]="type.name">
                      {{ type?.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </form>
           
  <div style="margin-top:10px;">
    <ng-container *ngIf="formMembre.valid && select.form.valid ; else notValide">
      <button mat-raised-button color="primary"  (click)="add()">sauvegarder</button>
    </ng-container>  
    <ng-template #notValide>
        <button mat-raised-button color="primary"  disabled>sauvegarder</button>
    </ng-template>
    </div> 
</div>
