.activite-content{
    width: 90%;
    margin: auto;
    }
    
.titre{
        font-size: 40px;
         color : #3F51B5;
         margin: 30px 0 40px 0px;
}
.wrapper{
    display: grid;
    grid-template-rows:  1fr;
    grid-gap: 20px;
}
