<div class="activite-content">
  <div class="titre">Ajouter une Activitée</div>

    <form [formGroup]="formMembre">
      <table>
        
          <tr>
            <mat-form-field>
              <input matInput placeholder="Nom" formControlName="nom" />
            </mat-form-field>
          </tr>
      </table>
      </form>
  <div style="margin-top:10px;">
    <ng-container *ngIf="formMembre.valid; else notValide">
      <button mat-raised-button color="primary"  (click)="add()">sauvegarder</button>
    </ng-container>  
    <ng-template #notValide>
        <button mat-raised-button color="primary"  disabled>sauvegarder</button>
    </ng-template>
    </div>
</div>
